<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">Recipe Book</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li><a href="#" class="nav-link">Recipes</a></li>
      <li><a href="#" class="nav-link">Shopping List</a></li>
    </ul>
    <div class="d-flex justify-content-end">
      <ul class="navbar-nav mr-auto">
        <li class="dropdown">
          <a href="#" class="nav-link dropdown-toggle" role="button">Manage</a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
